body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --texto: FEE800;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.button {
    position: relative;
    z-index: 2;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: clamp(30px, 50vw, 500px);
    padding: 16px 32px;
    background: linear-gradient(to right, #7f680f, #b89b00, #7f680f);
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 14px;
    transition: 0.3s ease;
    margin: auto;
}

.button:hover {
    transform: translateY(-3px);
    filter: brightness(1.08);
    background: linear-gradient(to right, #b39623, #584d0a, #806704);
    color: #000;
}

